* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container .fa-solid{
    display: none;
}

.container {
    background: linear-gradient(225deg, rgb(252, 49, 49), rgb(252, 223, 63), rgb(252, 78, 252));
    height: 700px;
    width: 100%;
}

.container .head {
    color: rgb(8, 131, 63);
    font-size: 40px;
    display: inline;
    position: relative;
    left: 120px;
    top: 15px;
}

ul {
   width: 50%;
   margin: auto;
    list-style-type: none;
    display: flex;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    position: relative;
    bottom: 25px;
}

li {
    padding: 0px 5px 0px 5px;
  
}

li:hover {
    cursor: pointer;
}

a:hover {
    color: rgb(3, 3, 3);
    font-weight: bold;
}

a {
    color: indigo;
    text-decoration: none;
}


.identity {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 80px;

}
.identity img {
    /* position:relative;
    top:60px; */
    transform: skewy(9deg);
    margin-top:50px;
}

.container .name {
    padding: 0px 0px 10px 0px;
    font-size: 60px;
    color: rgb(122, 37, 8);
    font-style: italic;
    text-shadow: 2px 2px 3px #f7f8fa;
}

.container .course {
    padding: 0px 0px 10px 0px;
    font-size: 30px;
    color: rgb(97, 73, 255);
    text-shadow: 2px 2px 3px #96b6fa;
}

.container .quote {
    padding: 10px 0px 10px 0px;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
}

.icons {
    display: block;
    position: absolute;
    left: 180px;
    top: 480px;
}

.fa-linkedin,.fa-github,.fa-instagram {
    color: azure;
    background-color: rgb(150, 252, 124);
    padding: 19px 6px;
    margin: 5px 10px;
    border-radius: 7px;
}



.container1 {
    background-color: rgb(246, 253, 145);
    width: 100%;
     height:30rem;
}

.tech {
    color: blue;
    font-weight: bold;
    font-size: 40px;
    padding: 3rem 0rem 3rem 8rem;
}

.logo {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 35px;

}

.html,.java,.react {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.logo p {
text-align: justify;
}

.logo h3 {
color: rgb(187, 80, 4);
}

span {
    font-size: 2rem !important;
    color: rgb(10, 190, 91);
    padding: 10px 0px;
}
.container2 {
    background-color: rgb(247, 173, 179);
    width: 100%;
    height: 33rem;
}
.full {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
    left: 100px;
    column-gap: 100px;
}

.head {
    color: green;
}

.story {
    color: rgb(243, 242, 239);
}

.topic {
    position: relative;
    top: 20px;
    line-height: 2rem;
    text-align: justify;
}

.web {
    background-color: lightseagreen;
    width: 100%;
    height: 50rem;
}

.head1 {
    font-size: 35px;
    color: rgb(29, 10, 7);
    padding: 50px 0px 50px 100px;


}

.boxes {
    border: 1.5px solid gray;
   width: 357px;
   
    background-color: aliceblue;
    border-radius: 1.5rem;
    height: auto;
}

.container3 {
    width: 90%;
    margin: auto;
   display: flex;
justify-content:space-evenly;
align-items: center;
}

.paragraph {
    text-align: justify;
    padding: 1rem 2rem 0rem 2rem;
    line-height:30px;
    color: rgb(32, 7, 255);
}

.boxes a {
    position: relative;
    left: 30px;
    top: 15px;
    color: rgb(255, 4, 4) ;
}
.boxes a:hover{
    color: rgb(46, 179, 6);
    text-decoration: underline;
}

.food {
    border-radius: 1.5rem 1.5rem 0rem 0rem
}

.fa-square-github,.fa-square-instagram {
    color: rgb(94, 92, 92);
    padding: 0rem 0rem 2rem 0rem;
}
.fa-square-github:hover,.fa-square-instagram:hover{
    color: crimson;
    transform: scale(150%);
}
.i1,
.i2,
.i3 {
    text-indent: 3rem;
}

/* .title {
    color: palegreen;
    text-align: center;
    margin: 1rem;
}
.bn-container {
    text-align: center;
}
.btn-primary {
    background-color: rgb(245, 128, 128);
    color: cornsilk;
    border: none;
    padding: 0.5rem;
    margin: 0.5rem;
}
button:hover {
    background-color: lightgreen;
}
.menupic1 {

    border: 1px solid gray;
    width: 30rem;
    display: inline-block;
} */

.boxes:hover {
    transform: scale(90%);
}

@media all and (max-width:600px){
    .container .fa-solid{
        display: inline;
        font-size: 25px;
        position: relative;
       left: 30px;
       top: 10px;
    }
    .showmenu{
        display: block;
        text-align: center;
        width: 100%;
        height:100vh;
        background: linear-gradient(225deg, rgb(252, 49, 49));
        font-weight:bold;
    }
    .icon{
        display: none;
    }
    .container{
        width: 100%;
        height: auto;
    }
    .container .head{
        text-align: center;
        position:relative;
        left: 100px;
    
    }

    ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 20px;
        display: none;
    }
    li{
        padding: 7px 0px;
    }
    li:hover,.a:hover{
        cursor: pointer;
        color: black;
        font-weight: bold;
    }
    .identity{
        width: 100%;
        display: flex;
        flex-direction: column;
        
    }
    .identity img{
        height: 200px;
     width: 200px;
     position:relative;
     top:30px;
     margin-bottom:30px;
    }
    
    .homepage{
    text-align: center;
    position: relative;
    left: 7px;
    }
    .container .name{
        font-size:40px;
        position: relative;
        top: 30px;
    }
    .container .course{
        font-size: 25px;
        position: relative;
        top: 20px;
    }
    .container .quote{
        font-size: 20px;
        position: relative;
        
    }
    .icons{
        position:absolute;
        top:260px;
        left:100px;
    }
    .container1{
        width: 100%;
        height: auto;
    }
    .tech{
        padding: 15px 5px;
        text-align: center;
    }
    .logo{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .html,.java,.react {
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
.logo p{
    margin-bottom: 20px;
}
.container2{
    width: 100%;
    height:900px;
}
.full{
    width: 80%;
    display:flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    left:40px
}
.code img{
    width: 300px;
    height:auto;
    
}
.topic .head{
    text-align: center;
    position: relative;
    bottom: 30px;
}
.topic .story{
    text-align:justify;
    position: relative;
    bottom:30px;
    font-size:17px ;
}
.web{
    width: 100%;
    height: auto;
}
.container3{

  display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.head1{
    display: inline-block;
   position: relative;
   right: 25px;
}
.boxes h2{
    display: inline-block;
    position: relative;
    left: 70px;
}
 .i1,.i2,.i3{
    font-size: 25px;
    position: relative;
    right: 20px;
 }
 #boxes1{
    margin-bottom: 30px;
 }
 .boxes p{
display:inline-block ;
 }
    }
